@charset "UTF-8";
html{
    background-color: #003C43;
    color: #E3FEF7;
}

hr{
    margin-top: -25px;
}

.companyName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: yellow;
    vertical-align: 10px;
}
.logo-img{
    display: inline-block;
    
}
.logo-company-name{
    display: inline-block;
    width: 500px;
    background-color: black;
} 

.CustomerFormMessageHome{
background-color: grey;
display: inline-block;
width: 900px;
vertical-align: 54px;
}

@media screen and (max-width:90px){
    .logo-company-name{
        background-color: white;
    }
}

a{
    color:darkcyan ;
}

input{
    background-color: #E3FEF7;
}
.button{
 
      margin-left: 8%;
       display: inline-block;
        padding: 10px 18px;
        background-color:darkcyan;
        color: white
        
}

label{
    border: 3px solid darkcyan;
}

.posterImg{
margin-top: 50px;
border: 5px solid #77B0AA;
padding: 8px;
background-color: black;
text-align: center;
}
.food-img{
    width: 80%;
    border-radius: 5%;
    margin-top: 2%;
    
}

.CustomerEnquiryFormHome{
    display: inline-block;
    background-color: black;
    width: 900px;
}

.link-navigation-list{
    display: inline-block;
    background-color: black;
    width: 200px;
    margin-left: 200px;
    
}

.sub-section-topic{
    display: inline-block;
    width: 500px;
    height: 200px;
    size: 20px;
    background-color:cornflowerblue;
    border-radius: 1%;
    padding: 5px;
}

#acheivement-section-index{
    vertical-align: 30px;

}

/*-------------------------*/

.flex-container{
    display: flex;
}

.top-head-logoinfo{
    position: fixed;
    clear: both;
    top: 5px;
    width: 100%;
}

.card{
    flex: 1;
    height: 150px;

}

.first.card{
    
}

/* @media (min-width:900px){
    .card{
        background-color: ;
    }
} */

.top-head-logoinfo .first.card a .logo-img{
    border-radius: 20%;
    height: 60px;
    width: 60px;

}

.top-head-logoinfo .first.card a{
    text-decoration: none;
    
    
}

.top-head-logoinfo .first.card .logo-name{
    display: inline-flex;
    color: gold;
    font-size: 20px;
    font-weight:  bold;
    font-family:Lucida Sans;
    vertical-align: 20px;
}

@media(max-width:1250px){
    .top-head-logoinfo .first.card .logo-name{
        visibility: hidden;
    }
}


.top-head-logoinfo .second.card{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media(max-width:950px){
    .top-head-logoinfo .second.card {
        display: none;
        visibility: hidden;
    }
}

.second.card p a {

    white-space: nowrap;
    text-decoration: none;
}


@media(min-width:900px){
.firstimg {
    float:left;
}
}

@media(min-width:900px){
    .cleardiv {
        clear:both;
    }
    }
    

@media(min-width:900px){
     .secimg{
        float:left;
    }
    }
    
